.App{
  display: flex;
  justify-content: center;
}
.table{

  display: flex;
  justify-content: center;
}
.table-column{
  border: 1px solid black;
  margin: 5px;
}
.table-row{
  border: 1px solid black;
  margin: 5px;
}
.add{
  display: flex;
  justify-content: center;
}